/* Styling Navbar */
.navbar-brand a {
    color: white
}

.customNav {
    position: fixed;
    width: 100%;
    background-size: cover;
    z-index: 10;
    background-color: #23325a;
    font-family: 'Arial, Helvetica, sans-serif';
    font-weight: bold;
    letter-spacing: 2px;
    height: 15%;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

  
.nav-item {
    margin: 0px 15px;
}

/* Styling Hero Section Jumbotron  */

.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
  }

.jumbotron .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

.device-container img {
  padding: 20px;
}