/* Styling Navbar */
.navbar-brand a {
    color: white
}

.customNav {
    position: fixed;
    width: 100%;
    background-size: cover;
    z-index: 10;
    background-color: #23325a;
    font-family: 'Arial, Helvetica, sans-serif';
    font-weight: bold;
    letter-spacing: 2px;
    height: 15%;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

  
.nav-item {
    margin: 0px 15px;
}
